/* general style for the document*/
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  min-width: 800px;
  font-family: CeraPro-Bold,sans-serif;
}

* {
  box-sizing: border-box;
}

/* general style for elements */
button {
  width: 120px;
  height: 38px;
  margin: 2px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: orange;
}

button i {
  pointer-events: none;
}

/* style for elements used in all views*/
.mode-title-container {
  height: calc(40px + 2vw);
  padding: 15px;
}

#logo {
  float: left;
  width: 25%;
  max-height: 80px;
  max-width: 455px;
}

.mode-title-container span {
  display:inline-block;
  text-align: center;
  width: 55%;
  margin-top: 2px;
  font-size: calc(12px + 1.5vw);
  background: -webkit-linear-gradient(grey, #00AA99);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#export-button {
  float: right;
  width: 60px;
  border-radius: 30px 0 25px 0;

  background: #CAA0A0;
}

#export-button:hover {
  color: #EFd6D6;
  background: #BA9090;
}

.main {
  min-height: calc( 100vh - 100px);
}

/* style for bottons in page footer */
#mode-button-container {
  padding-top: 10px;
  padding-bottom: 20px;
  margin-top: 10px;
  text-align: center;
  background: orange;
}

.mode-button {
  margin: 4px;
  background: #FE8C09;
}

.mode-button:hover {
  color: grey;
  background: #FA9900;
}

.mode-button:disabled {
  cursor: default;
  color: white;
  background: #FE8C09;
}

/* style for EDIT page Input Form */
#input-form {
  height: 80px;
  background: orange;
}

form {
  padding: 20px 80px;
}

input {
  float: left;
  width: 80%;
  padding: 10px;
  margin: 0;
  border: none;
  border-radius: 20px 0 0 20px;
  font-size: 16px;
}

form button {
  float: right;
  width: 20%;
  padding: 0px;
  margin: 0;
  border-radius: 0 20px 20px 0;
  background: #FBBBBB;
}

form button:hover {
  color: grey;
  background: #F0B0BB;
}

/* style for EDIT page Buttons */
.page-button-container {
  display: block;
  margin-top: 10px;
  text-align: center;
}

.page-button {
  vertical-align: middle;
  height: 50px;
  font-size: 12px;
}

.page-button:hover {
  color: grey;
  background: #FA9900;
}

.page-button:disabled {
  cursor: default;
  color: grey;
  background: #FE8C09;
}

/* style for EDIT page Notes */
[id^="item"] {
  position: relative;
  margin: 1px 20px 0 20px;
  border-left: 12px solid orange;
  border-radius: 20px;
  background-color: #ffdddd;
}

[id^="item"]:hover {
  border-radius: 10px;
}

[id^="item"]:hover button {
  display: inline;
}

[id^="item"] button {
  display: none;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  font-size: 20px;
}

[id^="item"] button:hover {
  border-radius: 10px;
  color: grey;
  background: #FA9900;
}

#note-text {
  display: inline-block;
  padding: 10px;
  padding-right: 210px;
}

#note-buttons-container {
  position: absolute;
  top: 1px;
  right: 2px;
}

/* style for VIEW page */

table {
  width: 100%;
  border: 2px solid orange;
  border-collapse: collapse;
}

th {
  width: 16.67%;
  height: 78px;
  padding: 0 5px 0 5px;
  border-left: 2px solid white;
  color: white;
  background: orange;
}

td {
  vertical-align: top;
  padding: 0 10px 0 10px;
  border: 2px solid orange;
  font-size: 14px;
}

td p {
  padding: 15px;
  border-radius: 20px;
  background: yellow;
}

td p:hover {
  background: #FFFA00;
}

/* style for STATEMENT page */

#statement div {
  padding: 40px;
  background: orange;
}

#statement span {
  display: block;
  margin: 10px;
  height: calc(100% - 270px);
  width: calc(100% - 40px);
  font-size: calc(5vw + 9vh - 0.8em);
  color: black;
}

#statement i {
  margin: 5px;
  padding: 5px;
  border-radius: 3vw;
  background: yellow;
}
